body {
  font-size: 16x;
  margin: 0;
  padding: 0;
}

nav {
  position: fixed;
  width: 100%;
  background-color: white;
  padding: 1em 10em 1em 10em;
  z-index: 99;
}

#mobile-nav {
  display: none;
}

.fa-bars {
  float: left;
  display: none;
}

#logo {
  float: left;
  margin-left: -13%;
  text-decoration: underline;
}

.nav-start {
  float: left;
  padding-top: .5em;
}

.nav-end {
  float: right;
  padding-top: .5em;
}

.nav-btn {
  background-color: white;
  transform: scale(1.2);
  margin-right: 1em;
}

.nav-btn:hover {
  animation-name: hover;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}

iframe {
  width: 84vw;
}

@keyframes hover {
  100% {
    background-color: #FAEBD7;
  }
}

main {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.img-placeholder {
  width: 100%;
  margin-top: 12.5%;
}

#second-section {
  width: 94vw;
  padding: 4em;
  background-color: #EEE9E0;
  color: #636C72;
  font-size: 1.5em;
}

#third-section {
  width: 94vw;
  padding: 4em 0em;
  background-color: #636C72;
  color: #EEE9E0;
  font-size: 1.5em;
}

.ele {
  width: 100%;
  margin-top: 2%;
  margin-bottom: 2%;
}

.ele:hover {
  transform: scale(1.01);
}

.portfolio-images {
  margin-top: 1em;
  width: 35%;
}

.last-image {
  margin-bottom: 1em;
}

#fourth-section {
  width: 94vw;
  padding: 4em;
  background-color: #EEE9E0;
  color: #636C72;
  font-size: 1.5em;
}

.social-media {
  margin-top: 5%;
  margin-right: 5%;
}

.social-media:hover {
  transform: scale(1.1);
}

#youtube {
  color: #DA2625;
}

#linkedin {
  color: #225982;
}

#twitter {
  color: #1DA1F2;
}

@media only screen and (max-width: 768px) {
  nav {
    padding: 1em 0em 1em 1em;
  }

  #desktop-nav {
    display: none;
  }

  #mobile-nav {
    display: block;
  }
  
  .fa-bars {
    width: 74vw;
    display: inline;
  }

  #logo {
    margin-left: 0%;
    padding-right: .5em;
    float: none;
  }

  .nav-start {
    padding-top: 0em;
    width: 40%;
  }

  .nav-end {
    padding-top: 0em;
    width: 40%;
  }
  
  .nav-btn {
    display: none;
    margin-top: 1em;
  }

  section {
    font-weight: bold;
  }

    #second-section {
    width: 94vw;
    padding: .5em;
    font-size: 1em;
  }

  #third-section {
    width: 94vw;
    padding: .5em;
    font-size: 1em;
  }

  #fourth-section {
    width: 94vw;
    padding: .5em;
    font-size: 1em;
  }
}

@media only screen and (max-width: 572px) {
  .nav-btn {
    font-size: .593em;
    margin-right: -1.329em;
  }
}

@media only screen and (max-width: 450px) {
  .portfolio-images {
    width: 80%;
  }
}

@media only screen and (max-width: 418px) {
  .nav-btn {
    font-size: .593em;
  }
}